<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">IN Property Values</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path=='/' %}active{%endif %}" href="/">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path=='/explore' %}active{%endif %}" href="/explore">Explore</a>
          </li>
           <!-- li class="nav-item">
            <a class="nav-link {% if request.path=='/property' %}active{%endif %}" href="/property">Resources</a>
          </li -->
        </ul>
      </div>
    </div>
  </nav>